<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DictionarySettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <DictionarySettings>
    <add key="Naver" value="https://en.dict.naver.com/#/mini/main"/>
    <add key="Daum" value="https://small.dic.daum.net/index.do?dic=eng&amp;q="/>
    <add key="Kakaoi" value="https://translate.kakao.com/?lang=enkr"/>
    <add key="Papago" value="https://papago.naver.com/?sk=en&amp;tk=ko&amp;hn=0"/>
  </DictionarySettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>